<div class="col-xs-6 col-lg-4 pull-right">
    <div class="alert alert-success alert-dismissible pull-right">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>
            <i class="icon fa fa-check">

            </i>
        </h4>
        <span>

        </span>
    </div>
</div>

<style>
    .alert {
        display: none;
        position: absolute;
        z-index: 888;
        -webkit-animation: run 5s;
    }

    @-webkit-keyframes run {
        from {
            right: -100%;
        }

        to {
            right: 34%;
        }
    }
</style>