<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ceagro | Web</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="public/assets/css/index.css">
    <link rel="stylesheet" href="adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="adminlte/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="adminlte/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="adminlte/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="adminlte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="adminlte/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="adminlte/plugins/iCheck/all.css">
    <link rel="stylesheet" href="adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.css">

</head>