<script src="adminlte/bower_components/jquery/dist/jquery.min.js"></script>
<script src="adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="adminlte/bower_components/fastclick/lib/fastclick.min.js"></script>
<script src="adminlte/dist/js/adminlte.min.js"></script>
<script src="adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>