<br>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li><a href="index.php"><i class="fa fa-home"></i> <span>Inicio</span></a></li>

            <li class="treeview">
                <a><i class="fa fa-address-book"></i> <span>Clientes</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="clientes.php">Cadastrar Clientes</a></li>
                    <li><a href="clientesLista.php">Pesquisar | Editar</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a><i class="fa fa-user"></i> <span>Contratos</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="contratosLista.php">Pesquisar | Editar</a></li>
                    <li><a href="contratos.php">Cadastrar Contratos</a></li>
                </ul>
            </li>
            <li>
                <a href="produtos.php"><i class="fa fa-cart-plus"></i> <span>Produtos</span></a>
            </li>
            <li>
                <a href="cfops.php"><i class="fa fa-archive"></i> <span>CFOPS</span></a>
            </li>
    </section>
</aside>