btn btn-warning {
  border: 1px solid #eee;
}
btn btn-warning > ul {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
btn btn-warning:hover > ul {
  visibility: visible;
  opacity: 1;
}
